body {
    background-color: rgb(167, 123, 82);
}
#bouton {
   
    border-width: 2px; border-style: solid; border-color: rgb(68, 47, 27);
    width: 20%;
    margin-top: 5%;
    margin-left: 10%;
}
#scene {
    display: block;
    border-width: 2px; border-style: solid; border-color: rgb(68, 47, 27);
    margin: auto;
    width: 30%;
}
#vap {
    display: block;
    border-width: 2px; border-style: solid; border-color: rgb(68, 47, 27);
    width: 17%;
    margin-left: 10%;

}
#montre {
    display: block;
    border-width: 2px; border-style: solid; border-color: rgb(68, 47, 27);
    width: 17%;
    margin-left: 10%;

}
h1{
    font-family: serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}


h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    text-align: center;
}
h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 17px;
    width: 50ch;
    margin-left: 9%;
    font-weight: 100;

}
h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    width: 50ch;
    margin-left: 9%;
    font-weight: 100;

}
h5 {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    width: 50ch;
    margin-left: 9%;
    font-weight: 100;
}
a {
    color: black;
    display: block;
    text-align: center;
    font-size: 30px;
}
ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    width: 50ch;
    margin-left: 25%;
    font-weight: 100;
    margin-top: 4%;
}
