#gros_titre {
    text-align: center;
} 
h1 {
    color: rgb(61, 44, 23);
}
h2 {
    color:black;
    text-decoration: underline
}
body {
    background-color: rgb(167, 123, 82);
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    text-align: center;
}
img {
width: 15%;
border-width: 2px; border-style: solid; border-color: rgb(68, 47, 27);
cursor:pointer;
}
#texte {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    width: 40ch;
    word-wrap: break-word;
    margin-left: 15px;
    border-width: 2px; border-style: dashed;
}
.bloc {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
a {
    color: black;
}
#lien {
    display: flex; gap: 80px;
    margin-top: 2%;
    margin-left: 5%;
}
span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
}
