h1 {
    color: rgb(61, 44, 23);
    text-align: center
}
h2 {
    color:black;
    text-decoration: underline;
    text-align: center
}
body {
    background-color: rgb(167, 123, 82);
}
img {
width: 15%;
border-width: 2px; border-style: solid; border-color: rgb(68, 47, 27);
cursor:pointer;
}
#texte {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    width: 40ch;
    word-wrap: break-word;
    margin-left: 15px;
    border-width: 2px; border-style: dashed;
}
.bloc {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
