h1 {
    color: rgb(61, 44, 23);
    text-align: center
}
body {
    background-color: rgb(167, 123, 82);
}
img {
width: 15%;
display:block;
margin:auto;
border-width: 2px; border-style: solid; border-color: rgb(68, 47, 27);
}
