body {
    background-color: rgb(167, 123, 82);
}
td {
    border: 1px rgb(58, 29, 9) solid; width: 20%;
    text-align: center;

}
table {
    border-collapse: collapse;
}
h1 {
    font-family: serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: rgb(58, 29, 9);
}
a{
    color: black;
    display: block;
    text-align: center;
    font-size: 30px;
}
#gros_titre {
    font-weight: bold;
}
#suspect {
    font-family: 'Courier New', Courier, monospace;
}
