body {
     background-color: rgb(167, 123, 82);
}
h1 {
    font-family: serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;

}
h2 {
    font-family: serif;
    width: 65ch;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    margin: auto;
    line-height: 180%;
    margin-top: 2%;

}
h3 {
    font-family: serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;

}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60ch;
    font-weight: 100;
    font-size: 19px;
    text-align: center;
    margin: auto;
    line-height: 190%;

}
h5 {
    font-family: serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;

}
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60ch;
    font-weight: 100;
    text-align: center;
    font-size: 19px;
    margin: auto;
    line-height: 190%;
}
img {
    display: block;
    margin: auto;
    border-width: 2px; border-style: solid; border-color: rgb(68, 47, 27);
    width: 50%;
}

a{
    color: black;
    display: block;
    text-align: center;
}
#accueil {
    font-size: 30px;
}
#lien{
    font-size: 150%;
    margin-top: 2%;
}